.App {
  font-family: 'Nunito', sans-serif;
  margin: 20px;
}

h1 {
  color: #555555;
}

.posts-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.post {
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
}

.post-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.profile-pic {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.post-media {
  position: relative;
  margin-bottom: 10px;
}

.carousel-container {
  overflow: hidden;
}

.carousel-wrapper {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel {
  display: flex;
  width: 100%;
}

.carousel-item {
  width: 100%;
  object-fit: cover;
  transition: opacity 0.5s ease;
}

.carousel-item.active {
  opacity: 1;
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px;
  font-size: 20px;
  transition: background-color 0.3s ease;
  display: none; /* Hide the controls by default */
}

.carousel-item:hover .carousel-control {
  display: block; /* Show the controls on hover */
}

.carousel-control.prev {
  left: 0;
}

.carousel-control.next {
  right: 0;
}

.post-actions {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.like-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: #4a86e8;
  margin-right: 5px;
}

.post-details {
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .posts-container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  .profile-pic {
    width: 25px;
    height: 25px;
  }
}

.post-media img[src='${fallbackImage}'] {
  background-color: #ced4da;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-media img[src='${fallbackImage}']::before {
  content: 'Image not available';
  color: #ffffff;
  font-weight: bold;
}

.carousel {
  position: relative;
  overflow: hidden;
  height: 300px; /* Adjust height as needed */
}

/* Carousel item */
.carousel-item {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.carousel-item.active {
  display: flex;
}

/* Carousel navigation buttons */
.chevron {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  color: #555555;
  font-size: 20px;
  cursor: pointer;
}

.chevron.left {
  left: 0;
}

.chevron.right {
  right: 0;
}

/* Carousel bubbles for image navigation */
.carousel-bubbles {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.bubble {
  width: 10px;
  height: 10px;
  background-color: #ced4da;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.bubble.active {
  background-color: #4a86e8;
}